<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Anmeldung Fehlgeschlagen</title>
</head>
<body>
    <!-- Überschrift und co-->
    <div style="text-align: center">
        <h1>Ups!</h1>
        <p class="blockquote">
            Die anmeldung ist leider fehlgeschlagen...
        </p>
    </div>
    <!-- Button für zurück zur Anmeldung-->
    <div class="container-sm">
        <form method="get" action="/anmeldeform">
            <button class="btn btn-secondary" type="submit">Zurück zur anmeldung</button>
        </form>
    </div>
</body>
</html>