<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anmeldungen</title>
</head>
    <body>
        <h1>Alle Einträge</h1>
        <table cellpadding="10" class="table" border="1">
            <thead>
            <tr>
                <th>GithubName</th>
                <th>Name</th>
                <th>Mat. Nr.</th>
                <th>Unikennung</th>
            </tr>
            </thead>
            <tbody th:remove="all-but-first" th:each="Student : ${students}" th:object="${student}">
            <tr>
                <td th:text="*{students.gitHubName}">1</td>
                <td th:text="*{students.name}">1000</td>
                <td th:text="*{students.matrikelnr}">1000</td>
                <td th:text="*{students.unikennung}">2000</td>
            </tr>
            </tbody>
        </table>
    </body>
</html>